<div class="container">
  <div class="entete">
    <a class="btn btn-floating pulse orange" ui-sref="ressourcePost" ui-sref-active="select"><i class="material-icons">add</i></a>
    <h1>Ressources</h1>
  </div>

  <div ng-if="$ctrl.questions.length > 0">
    <div class="chip" ng-show="$ctrl.tagFilter.tagName.length >0">
      {{$ctrl.tagFilter.tagName}}
      <i class="close material-icons" ng-if="$ctrl.tagFilter.tagName" ng-click="$ctrl.removeTag()">close</i>
    </div>
  </div>

  <div class="input-field">
    <input class="validate" type="text" placeholder="Search..." ng-model="q">
  </div>

  <div class="bloc_center">

    <div class="row">

      <div class="col s12">
        <div class="question flex" dir-paginate="ressource in $ctrl.ressources | filter:"

          current-page="$ctrl.currentPage">

          <div class="counters view">
            <div ng-bind="question.nb_views"></div>
            <div ng-bind="question.votes"></div>
          </div>

          <div class="contenu">
            <a ng-click="$ctrl.countViews(question.id)" ui-sref="questionSpec({idQuestion : question.id})">

              <h3 ng-bind="ressource.title"></h3>

              <span>{{question.answers.length}} Réponses</span>
              <span>{{question.date | date:"dd.MM.yyyy HH:mm:ss"}}</span>
              <p ng-bind="question.content"></p>
              <span id="questionsTags">{{question.tag}}</span>
              <div ng-bind="question.tag"></div>
            </a>
          </div>

          <div class="collection-item avatar">
            <img class="circle" ng-src="{{question.user.avatar}}" alt="user's picture">
          </div>

        </div>
        <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.pageChangeHandler(newPageNumber)" template-url="node_modules/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>
  <!-- FIN bloc_center -->
</div>
<!-- FIN container -->