<div class="container">
  <div class="entete">
    <a class="btn btn-floating pulse orange" ui-sref="ressourcePost" ui-sref-active="select"><i class="material-icons">add</i></a>
    <h1>Ressources</h1>
  </div>

  <div ng-if="$ctrl.ressource.length > 0">
    <div class="chip" ng-show="$ctrl.tagFilter.tagName.length >0">
      {{$ctrl.tagFilter.tagName}}
      <i class="close material-icons" ng-if="$ctrl.tagFilter.tagName" ng-click="$ctrl.removeTag()">close</i>
    </div>
  </div>

  <div class="input-field">
    <input class="validate" type="text" placeholder="Search..." ng-model="q">
  </div>

  <div class="bloc_center">

    <div class="row">

      <div class="col s12">
        <div class="question flex" dir-paginate="ressource in $ctrl.ressources | filter:q | orderBy : aTab.sort | itemsPerPage: $ctrl.pageSize"

          current-page="$ctrl.currentPage">

          <div >
            <div ng-bind="ressource.title"></div>
            <div ng-bind="$ctrl.tagFilter.tagName"></div>
            <h3 ng-bind="ressource.url"></h3>
          </div>
          <div class="contenu">
              <div ng-bind="ressource.url"></div>
          </div>

        </div>
        <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.pageChangeHandler(newPageNumber)" template-url="node_modules/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>
  <!-- FIN bloc_center -->
</div>
<!-- FIN container -->