BODY
{
	margin: 0;
	background-color: #CCCDCE;
	font-family: 'Open Sans', sans-serif;
}
.box #question .text P
{
	font-size: 12px;
}
#container .position
{
	margin-left: auto;
	margin-right: auto;
	margin-top: -46px;
	width: 80%;
}
#container .position .box
{
	background-color: #FFFFFF;
}
.position .box .title
{
	border-bottom: 2px solid #90ACA0;
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 10px;
	color: #3E8D87;
	font-size: 17px;
}
#header .menu
{
	background-color: rgba(255, 255, 255, 0.624);
	height: 44px;
	border-bottom: 2px solid #CB8C13;
	text-align: center;
	line-height: 2.4;
	text-shadow: -1px 0px #FFFFFF;
}
BODY #container
{
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 900px;
}
.box #question .vote
{
	float: left;
	background-image: url('../galery/img/icon.png');
	height: 45px;
	width: 14px;
	margin-top: 0;
	margin-right: 17px;
}
.box #question
{
	padding-left: 13px;
	padding-top: 9px;
	padding-bottom: 8px;
	background-color: rgba(229, 229, 229, 0.116);
	border-bottom: 1px solid rgba(239, 236, 236, 0.619);
	margin-bottom: 0;
}
@media screen and (max-width: 768px)
{
	#question .text
	{
	}
	#header .menu DIV#container
	{
		font-size: 11px;
		line-height: 3.9;
		background-size: ;
	}
}
.box #question .text
{
	padding-left: 21px;
	line-height: 0.9;
	padding-top: 3px;
	font-size: 14px;
	margin-bottom: -7px;
}
BODY #slogan
{
	background-image: url('../galery/img/header.jpg');
	height: 221px;
	width: 100%;
	background-color: rgba(185, 132, 132, 0.624);
	padding-top: 2px;
	text-align: center;
	font-size: 36px;
	color: rgba(255, 255, 255, 0.624);
	background-size: cover;
	background-position: 0px -187px;
}
#slogan #container P
{
	padding-top: 26px;
}
