#navbar {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
}

#navbar li {
    display: inline-block;
    list-style: none;
}

/*ICI VIENT LE STYLE DE LA LISTE DES USERS*/

#user {
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    width: 750px;
    padding: 10px;
}

#user img {
    /*width: 150px;
    height: 150px;*/
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

#head {
    text-align: center;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}