body {
    background-color: #f1f1f1;
}

.page {
    background-color: white;
}


/*ICI VIENT LE STYLE DE LA BARRE DE NAV ET DU PARALLAX MAIN.HTML*/

img {
    max-height: 60px;
    vertical-align: middle;
}

#search input[type="text"] {
    background: url(/frontend/assets/img/search-white.png) no-repeat 10px 6px #fcfcfc;
    height: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #455a64;
    width: 100px;
    padding: 6px 15px 6px 35px;
    outline: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #455a64 !important;
}

.parallax-container {
    margin-left: -8px;
}


/*ICI VIENT LE STYLE DU NUAGE*/

.chip {
    border-style: none;
}


/*ICI VIENT LE STYLE DE LA LISTE DES USERS*/

.input-field input:focus {
    border-bottom-color: orange;
}

li {
    display: flex;
    direction: row;
    color: #455a64;
}

#noms {
    width: 300px;
    padding: 0px 20px 0px 40px;
    font-size: 18px;
}

#pseudo {
    color: orange;
    font-size: 20px;
}

.flow-text {
    font-size: 12px;
    width: 600px;
}

.secondary-content {
    color: orange !important;
}


/*ICI VIENT LE STYLE DE LA LISTE DE QUESTIONS*/

#questionsFlex {
    display: flex;
    direction: row;
}

.btn-floating {
    padding-top: 5px;
    margin-top: 5px;
}

#chip {
    padding-top: 12px;
    margin: 5px 30px;
}

#questionsTags {
    width: 600px;
    padding: 0px 20px 0px 40px;
}


/*ICI VIENT LE STYLE DE LA LISTE DE QUESTIONS (Laetitia)*/

.entete {
    height: 65px;
    margin: 0;
    border-bottom: 5px solid #f1f1f1;
    padding: 10px 15px 10px 15px;
}

.entete h1 {
    color: #455a64;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    float: right;
}

#question {
    display: flex;
    color: black;
    border-bottom: 1px dotted #ffdea5;
    margin: 0;
    padding-top: 15px;
}

.counters {
    display: flex;
    width: 20%;
}

#answers {
    color: blue;
}

/*ICI VIENT LE STYLE DU FOOTER*/

.page-footer {
    background-color: #455a64 !important;
    max-height: 70px;
}

.page-footer img {
    max-height: 80px;
    padding-bottom: 40px;
}

.counters>div {
    margin: 10px;
    width: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4em;
    color: #455a64;
}

.counters>div:first-child {
    background: url(/frontend/assets/img/heart.png) no-repeat center;
    background-size: 30px;
}

.counters>div:last-child {
    background: url(/frontend/assets/img/eye.png) no-repeat center;
    background-size: 30px;
}

.contenu {
    width: 90%;
    color: black;
    margin: 0;
    padding: 0;
}

.contenu h3 {
    font-size: 1.3em;
    color: #35383a;
    margin: 0;
    padding: 0;
}

.contenu span {
    font-size: 0.9em;
    color: #80cbc4;
    margin: 0;
    padding: 0;
}

.contenu p {
    color: #7b7b7b;
    font-size: 1em;
}

