<!DOCTYPE html>
<html lang="en" ng-app="displayQuestionApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>questionList</title>
    <script src="angular.min.js"></script>
    <script src="modules/questionListModule.js"></script>
    <script src="controllers/questionListController.js"></script>
</head>

<body>
    <section ng-controller='dataCtrl'>

        <div ng-if="data.length > 0">

            <table ng-repeat="obj in data">
                <tr>
                    <h1>{{obj.title}}</h1>

                </tr>
                <tr>
                    <td>{{obj.content}}</td>
                </tr>
            </table>
        </div>
    </section>


</body>

</html>