<div class="bloc_center">

    <div class="row">

        <div class="col s12">
            <ul tabs reload="allTabContentLoaded">
                <li class="tab col s6"><a class="active" href="#connexion">Connexion</a></li>
                <li class="tab col s6"><a href="#creation">Create count</a></li>
            </ul>
        </div>

        <div id="connexion" class="col s12">
            <div class="alert alert-danger" ng-show="$ctrl.errorMessage">
                {{$ctrl.errorMessage1}}
            </div>
            <div class="form-group">
                <input ng-model="$ctrl.user.email" placeholder="Adresse mail" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input ng-model="$ctrl.user.password" placeholder="Mot de passe" type="password" class="form-control" />
            </div>
            <hr />
            <button class="btn btn-primary" ng-click="$ctrl.submitConnexion($ctrl.user)">Valider</button>
        </div>

        <div id="creation" class="col s12">
            <div class="alert alert-danger" ng-show="$ctrl.errorMessage">
                {{$ctrl.errorMessage2}}
            </div>
            <div class="form-group">
                <input ng-model=" $ctrl.user.pseudo" placeholder="Pseudo" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input ng-model="$ctrl.user.email" placeholder="Adresse mail" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input ng-model="$ctrl.user.password" placeholder="Mot de passe" type="password" class="form-control" />
            </div>
            <hr />
            <button class="btn btn-primary" ng-click="$ctrl.submitCreation($ctrl.user)">Valider</button>
        </div>

    </div>
</div>