<div class="container">
    <div class="entete">
        <a class="btn btn-floating  pulse orange Lighten-2" ui-sref="tips.postTip" ui-sref-active="select"><i class="material-icons">add</i></a>
        <h1>Tricks &amp Tips</h1>
    </div>
    <div class="input-field">
        <input class="validate" type="text" placeholder="Search..." ng-model="$ctrl.query">
    </div>


    <!--<button type="submit" ui-sref="tips.postTip">Poste une nouvelle astuce !</button>-->
    <div class="bloc_center">

        <ui-view></ui-view>

        <div ng-if="$ctrl.tips.length > 0">
            <div class="question" ng-repeat="tip in $ctrl.tips | filter : $ctrl.query">
                <div class="flex_direction">
                    <p class="item">
                        <span><i class="tiny material-icons orange-text">subdirectory_arrow_right</i><span ng-bind="tip.content"></span></span>
                    </p>
                    <p class="item">
                        <a target="_blank" href="{{tip.url}}"><span class="lien">link</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>