<div class="container">
    <div class="entete">
        <a class="btn btn-floating  pulse orange Lighten-2" ui-sref="tips.postTip" ui-sref-active="select"><i class="material-icons">add</i></a>
        <h1>Tricks &amp Tips</h1>
    </div>
    <div class="input-field">
        <input class="validate" type="text" placeholder="Search..." ng-model="$ctrl.query">
    </div>


    <!--<button type="submit" ui-sref="tips.postTip">Poste une nouvelle astuce !</button>-->
    <div class="bloc_center">

        <ui-view></ui-view>

        <div ng-if="$ctrl.tips.length > 0">
            <div id="question" ng-repeat="tip in $ctrl.tips | filter : $ctrl.query">
                <p><i class="tiny material-icons orange-text">subdirectory_arrow_right</i>
                    <span ng-bind="tip.content"></span>
                    <a target="_blank" href="{{tip.url}}"><span class="lien">links</span></a></p>
            </div>
        </div>
    </div>
</div>