<header>
    <h1>CECI N'EST PAS UNE QUESTION</h1>
    <a ui-sref="questionPost" ui-sref-active="select">Poser une question</a>
</header>

<input id="search" class="form-control" placeholder="Rechercher..." ng-model="$ctrl.model.query" />
<div id="question">
    <div id="left">
        <div id="votes" ng-bind="$ctrl.model.question.votes"></div>
        <div id="answers">
            Réponses
        </div>
        <div ng-bind="$ctrl.model.question.views"></div>
    </div>
    <div id="center">
        <div ng-bind="$ctrl.model.question.title"></div>
        <div ng-bind="$ctrl.model.question.body"></div>
    </div>
    <div id="right">
        <img ng-src="{{$ctrl.model.question.user.avatar}}" alt="avatar">
        <div ng-bind="$ctrl.model.question.date"></div>
    </div>

</div>
<div ng-if="$ctrl.model.list.length > 0">
    <div id="answers" ng-repeat="item in $ctrl.model.list | filter : $ctrl.model.query">
        <table>
            <tr>
                <td ng-bind="item.date"></td>
                <td ng-bind="item.body"></td>
                <td ng-bind="item.views"></td>
                <td ng-bind="item.votes"></td>
            </tr>
        </table>
    </div>
</div>