<header>
  <h1>Questions list</h1>
  <a ui-sref="questionPost" ui-sref-active="select">Poser une question</a>
</header>
<div ng-if="$ctrl.questions.length > 0">
  <input id="search" class="form-control" placeholder="Rechercher..." ng-model="$ctrl.model.query" />

  <span ng-bind="$ctrl.model.tag.tagName"></span>
</div>

<div class="panel" ng-repeat="question in $ctrl.questions | filter : $ctrl.model.query">
  <div id="left">
    <div id="votes" ng-bind="question.votes"></div>
    <div id="answers">
      Réponses
    </div>
    <div ng-bind="question.views"></div>
  </div>

  <a ui-sref="questionSpec({questionId : question.id})">
    <div id="center">
      <h1 class="header" ng-bind="question.title"></h1>
      <div ng-bind="question.body"></div>
    </div>
  </a>

  <div id="right">
    <img ng-src="{{question.user.avatar}}" alt="avatar">
    <div ng-bind="question.date"></div>
  </div>
</div>
