<div class="container">
    <div class="entete">
        <h1>Questions and Answers</h1>
        <a class="btn btn-floating pulse orange" ui-sref="questionPost" ui-sref-active="select"><i class="material-icons">add</i></a>
    </div>

    <input id="search" class="form-control" placeholder="Search..." ng-model="q" />
    <div class="question flex">
        <div class="counters view">
            <div ng-bind="$ctrl.question.nb_views + 1"></div>
            <div ng-bind="$ctrl.question.votes" ng-click="$ctrl.voteQst($ctrl.question.id)"></div>
        </div>
        <div class="contenu">
            <h3 ng-bind="$ctrl.question.title"></h3>
            <button ng-if="$ctrl.myQuestion" ui-sref="editPost({postId : $ctrl.question.id})">Edit</button>
            <span>{{$ctrl.question.date | date:"MM/dd/yyyy"}}</span>
            <p ng-bind-html="$ctrl.question.content"></p>
        </div>
        <div class="collection-item avatar">
            <img class="circle" ng-src="{{$ctrl.question.user.avatar}}" alt="avatar">
        </div>
    </div>

    <button class="waves-effect waves-light btn orange lighten-2" ui-sref="questionSpec({idQuestion : $ctrl.question.id, post: true})"
        ng-disabled="!$ctrl.connected">
        <i class="material-icons left">add</i>New Answer</button>

    <div>

        <div ng-if="$ctrl.edition" class="bloc_center">
            <h2>Edit response</h2>
            <form name="myForm1" class="formulaire" ng-submit="$ctrl.editContentAnswer($ctrl.answer)" novalidate>
                <div class="form-group">
                    <label for="title">Titre réponse</label>
                    <input type="text" class="form-control" id="title" required ng-model="$ctrl.answer.title" />
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" id="content" required ng-model="$ctrl.answer.content" />
                </div>
                <div class="item-actions">

                    <input class="btn btn-success" type="submit" value="Valider" ng-disabled="myForm1.$invalid" />

                </div>
            </form>
        </div>
        <div ng-if="$ctrl.post" class="bloc_center">
            <h2>Post a new answer</h2>
            <form name="myForm2" class="formulaire" ng-submit="$ctrl.saveAnswer($ctrl.answer)" novalidate>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" required ng-model="$ctrl.answer.title" />
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" id="content" required ng-model="$ctrl.answer.content" />
                </div>
                <div class="item-actions">

                    <input class="btn btn-success" type="submit" value="Valider" ng-disabled="myForm2.$invalid" />

                </div>
            </form>
        </div>

        <div ng-if="$ctrl.question.answers.length > 0">
            <div id="answer" class="question flex" ng-repeat="answer in $ctrl.question.answers | filter : $ctrl.model.query">

                <div class="counters view">
                    <div ng-bind="answer.votes" ng-click="$ctrl.voteAsw(answer)"></div>
                </div>
                <div class="contenu">
                    <h3 ng-bind="answer.title"></h3>
                    <button ng-if="answer.myAnswer" class="lien" ui-sref="questionSpec({idQuestion : $ctrl.question.id, edition: true, answer: answer.id})">edit</button>

                    <span>{{answer.date | date:"MM/dd/yyyy"}}</span>
                    <p ng-bind-html="answer.content"></p>
                    <div id="answer" dir-paginate="answer in $ctrl.question.answers | filter : q | itemsPerPage: $ctrl.pageSize" current-page="$ctrl.currentPage">

                        <div class="counters view ">
                            <div ng-bind="answer.votes "></div>
                        </div>
                        <div class="contenu ">
                            <h3 ng-bind="answer.title "></h3>
                            <!--<button class="lien " ui-sref="editPost({postId : answer.id}) ">edit</button>-->
                            <span>{{answer.date | date:"MM/dd/yyyy "}}</span>
                            <p ng-bind-html="answer.content "></p>
                        </div>

                    </div>
                </div>

                <dir-pagination-controls boundary-links="true " on-page-change="$ctrl.pageChangeHandler(newPageNumber)
                        " template-url="node_modules/angular-utils-pagination/dirPagination.tpl.html "></dir-pagination-controls>
            </div>

        </div>