<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testUserProfile</title>
    <link rel="stylesheet" type="text/css" href="testUserProfile.css">
</head>

<body>
    <div id="user">
        <img src="facemask.png" alt="photo">
        <div id="bio">
            <div id="head">Prénom Nom</div>
            <div id="body">
                <div>Pseudo</div>
                <div>Job</div>
                <div>City</div>
            </div>
            <div id="tail">
                <div>Rèp:ThugLife</div>
                <div>#HashTags###</div>
                <div><button type="">Full Profile</button></div>
            </div>
        </div>
    </div>
</body>

</html>