<header>
    <h1>Users list</h1>
</header>
<div ng-if="$ctrl.model.list.length > 0">
    <input id="search" class="form-control" placeholder="Rechercher..." ng-model="$ctrl.model.query" />
    <div id="user" ng-repeat="item in $ctrl.model.list | filter : $ctrl.model.query">
        <img ng-src="{{item.avatar}}" alt="photo">
        <div id="bio">
            <div id="head"><span ng-bind="item.first_name"></span>   <span ng-bind="item.last_name"></span></div>
            <div id="body">
                <div><span ng-bind="item.pseudo"></div>
            <div>Job</div>
            <div><span ng-bind="item.ville"></div>
        </div>
        <div id="tail">
            <div>Rèp:ThugLife</div>
            <div>#HashTags###</div>
            <div><button type="">Full Profile</button></div>
        </div>
    </div>
</div>
</div>