<header>
    <h1>Users list</h1>
    <div><a ui-sref="addUser" ui-sref-active="select">S'enregistrer</a></div>
</header>
<div ng-if="$ctrl.model.list.length > 0">
    <input id="search" class="form-control" placeholder="Rechercher..." ng-model="$ctrl.model.query" />
    <div class="content">
        <div ng-repeat="item in $ctrl.model.list | filter : $ctrl.model.query" class="item">
            <div class="question-list">
                <div class="name" ng-bind="item.name"></div>
            </div>
        </div>
    </div>
</div>