<div class="bloc_center">
    <h2>Poster une nouvelle réponse</h2>
    <form ng-submit="$ctrl.saveAnswer($ctrl.answer)" novalidate>
        <div class="form-group">
            <label for="title">Titre réponse</label>
            <input type="text" class="form-control" id="title" ng-model="$ctrl.answer.title" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <trix-editor angular-trix ng-model="$ctrl.answer.content"></trix-editor>
        </div>
        <div class="item-actions">
            <input class="btn btn-success" type="submit" value="Valider" />
        </div>
    </form>
</div>