<div class="container">
    <div class="entete">
        <h1>Categories</h1>
    </div>



    <div class="collection">
        <button ng-repeat="tag in $ctrl.nuage.list" class="chip" ui-sref="tags({ tagName: tag.name, tagId: tag.id })" ui-sref-active="select">{{tag.name}}
        </button>
    </div>

</div>
<div>
    <ul ng-repeat="tag in $ctrl.nuage.list">
        <button id=btnNuage>
            <li ui-sref="tags({ tagName: tag.name, tagId: tag.id })" ui-sref-active="select">{{tag.name}}</li>
            <li ui-sref="tags({ tagName: tag.name, tagId: tag.id })" ui-sref-active="select">test</li>
        </button>
    </ul>
</div>