<div class="container">
    <div class="input-field">
        <input class="validate" type="text" placeholder="Rechercher..." ng-model="$ctrl.nuage.query">
    </div>
    <table class="table">
        <ul class="collection">
            <li class="collection-item avatar">
                <button ng-repeat="tag in $ctrl.nuage.list" class="chip" ui-sref="tags({ tagName: tag.name, tagId: tag.id })" ui-sref-active="select">
                    {{tag.name}}
                </button>
            </li>
        </ul>
    </table>
</div>