<div class="container">
    <div class="entete">
        <a class="btn btn-floating #ffb74d orange lighten-2" ui-sref="addUser" ui-sref-active="select"><i class="material-icons">add</i></a>
        <h1>Users List</h1>
    </div>

    <div ng-if="$ctrl.users.length > 0">
        <div class="input-field">
            <input class="validate" type="text" placeholder="Rechercher..." ng-model="$ctrl.model.query">
        </div>


        <div id="question" ng-repeat="user in $ctrl.users | filter : $ctrl.model.query" class="collection">
            <div class="counters">
                <div><a class="material-icons #ffe0b2 orange-text lighten-4" href="mailto:{{user.email}}">email</a></div>
            </div>

            <div class="contenu">
                <a ui-sref="person({personId : user.id})">
                    <h3 class="title" ng-bind="user.pseudo"></h3>
                    <span>{{user.first_name}} {{user.last_name}}</span>
                    <P id="questionsTags">{{question.tag}}</p>
                    <p class="content flow-text">{{user.profile}}</p>
                    <div ng-bind="question.tag"></div>
                </a>
            </div>

            <div class="collection-item avatar">
                <img class="circle" ng-src="{{user.avatar}}" alt="user's picture">
            </div>
        </div>
    </div>
</div>