<div class="container" id="test">
    <header>
        <a class="waves-effect waves-light btn-large #90a4ae blue-grey lighten-2" ui-sref="addUser" ui-sref-active="select">S'enregistrer</a>
    </header>

    <div ng-if="$ctrl.users.length > 0">
        <div class="input-field">
            <input class="validate" type="text" placeholder="Rechercher..." ng-model="$ctrl.model.query">
        </div>
        <ul ng-repeat="user in $ctrl.users | filter : $ctrl.model.query" class="collection">
            <li class="collection-item avatar" ui-sref="person({personId : user.id})">
                <img class="circle" ng-src="{{user.avatar}}" alt="user's picture">
                <P id="noms">{{user.first_name}} {{user.last_name}}</br> Aka <span id="pseudo">{{user.pseudo}}</span></p>
                <p class="flow-text">{{user.profile}}</p>
                <!--<a class="secondary-content"><i class="material-icons">grade</i></a>-->
            </li>
        </ul>
    </div>
</div>