<nav id="navbar">
    <ul>
        <li><a ui-sref="questions" ui-sref-active="select">Questions</a></li>
        <li><a ui-sref="users" ui-sref-active="select">Users</a></li>
        <li><a ui-sref="jobs" ui-sref-active="select">Jobs</a></li>
        <li><a ui-sref="nuage" ui-sref-active="select">Nuage</a></li>
        <li><a ui-sref="tips" ui-sref-active="select">Tips</a></li>
        <li><a ui-sref="userprofile" ui-sref-active="select">Profile</a></li>
        <!--<li><a ui-sref="addUser" ui-sref-active="select">S'enregistrer</a></li>-->
        <li><a ui-sref="logUser" ui-sref-active="select">Se connecter</a></li>
        <login></login>
    </ul>
</nav>

<ui-view info=$ctrl.info></ui-view>

<footer>
    <ul>
        <li> Mentions légales</li>
    </ul>
</footer>