<div class="bloc_center">
    <h2>Edit response</h2>
    <form class="formulaire" ng-submit="$ctrl.editContent($ctrl.answer)" novalidate>
        <div class="form-group">
            <label for="title">Titre réponse</label>
            <input type="text" class="form-control" id="title" ng-model="$ctrl.answer.title" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" ng-model="$ctrl.answer.content" />
        </div>
        <div class="item-actions">

            <input class="btn btn-success" type="submit" value="Valider" />

        </div>
    </form>
</div>