<header>
  <h1>Questions list</h1>
  <a ui-sref="questionPost" ui-sref-active="select">Poser une question</a>
</header>
<div ng-if="$ctrl.model.list.length > 0">
  <input id="search" class="form-control" placeholder="Rechercher..." ng-model="$ctrl.model.query" />
  <div id="question" ng-repeat="item in $ctrl.model.list | filter : $ctrl.model.query">
    <div id="left">
      <div id="votes" ng-bind="item.votes"></div>
      <div id="answers">
        Réponses
      </div>
      <div ng-bind="item.views"></div>
    </div>
    <div id="center">
      <div ng-bind="item.title"></div>
      <div ng-bind="item.body"></div>
    </div>
    <div id="right">
      <img ng-src="{{item.user.avatar}}" alt="avatar">
      <div ng-bind="item.date"></div>
    </div>
  </div>
</div>