<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testFullQuestion</title>
    <link rel="stylesheet" type="text/css" href="testFullQuestion.css">
</head>

<body>
    <div id="question">
        <div id="left">
            <div id="votes">
                Votes
            </div>
            <div id="answers">
                Réponses
            </div>
            <div>
                Vues
            </div>
        </div>
        <div id="center">
            <div>
                Title
            </div>
            <div>
                Contenu
            </div>
        </div>
        <div id="right">
            <img src="" alt="avatar">
            <div>
                Date
            </div>
        </div>
    </div>
</body>

</html>